#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=/home/artimaeus/.config/dotfiles/scripts/ssh-agent/ssh-add.sh
Icon=dialog-scripts
Name=ssh-add.sh
Type=Application
X-KDE-AutostartScript=true
