[Desktop Entry]
Exec=/home/artimaeus/.dotfiles/scripts/ssh-agent/ssh-add.sh
Icon=dialog-scripts
Name=ssh-add.sh
Type=Application
X-KDE-AutostartScript=true
