[submodule "zsh-peco-history"]
	path = zsh-peco-history
	url = https://github.com/jimeh/zsh-peco-history.git
[submodule "zsh-interactive-cd"]
	path = zsh-interactive-cd
	url = https://github.com/changyuheng/zsh-interactive-cd.git
[submodule "powerlevel9k"]
	path = powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
