[submodule "zsh-peco-history"]
	path = zsh-peco-history
	url = https://github.com/jimeh/zsh-peco-history.git
[submodule "zsh-interactive-cd"]
	path = zsh-interactive-cd
	url = https://github.com/changyuheng/zsh-interactive-cd.git
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "git-fuzzy"]
	path = git-fuzzy
	url = https://github.com/bigH/git-fuzzy.git
