[submodule "modules/zsh-autosuggestions"]
	path = modules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "modules/zsh-syntax-highlighting"]
	path = modules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "modules/zsh-interactive-cd"]
	path = modules/zsh-interactive-cd
	url = https://github.com/changyuheng/zsh-interactive-cd.git
[submodule "modules/zsh-peco-history"]
	path = modules/zsh-peco-history
	url = https://github.com/jimeh/zsh-peco-history.git
