"$schema" = 'https://starship.rs/config-schema.json'

# Timeout for commands executed by starship (in milliseconds).
command_timeout = 1000

# Timeout for starship to scan files (in milliseconds).
scan_timeout = 50

# Inserts a blank line between shell prompts.
add_newline = true

# Follows symlinks to check if they're directories; used in modules such as git.
follow_symlinks = true

# $aws\
# $azure\
# $openstack\
# $buf\
# $gcloud\
# $kubernetes\

# $battery\
# $memory_usage\
# $hostname\

# $bun\
# $c\
# $cmake\
# $cobol\
# $daml\
# $dart\
# $deno\
# $dotnet\
# $elixir\
# $elm\
# $erlang\
# $fennel\
# $gleam\
# $golang\
# $guix_shell\
# $haskell\
# $haxe\
# $helm\
# $java\
# $julia\
# $kotlin\
# $gradle\
# $lua\
# $nim\
# $nodejs\
# $ocaml\
# $opa\
# $perl\
# $php\
# $pulumi\
# $quarto\
# $raku\
# $rlang\
# $red\
# $ruby\
# $rust\
# $scala\
# $solidity\
# $swift\
# $terraform\
# $typst\
# $vlang\
# $vagrant\
# $zig\
# $purescript\
# $crystal\

# $localip\
# $shlvl\
# $singularity\
# $vcsh\
# $fossil_branch\
# $fossil_metrics\
# $git_metrics\
# $hg_branch\
# $pijul_channel\
# $docker_context\
# $package\
# $conda\
# $meson\
# $spack\
# $nats\
# $direnv\
# $env_var\
# $jobs\
# $container\
# $shell

format = """
[](color_yellow)\
$os\
[](bg:color_orange fg:color_yellow)\
$sudo\
$username\
[](bg:color_aqua fg:color_orange)\
$directory\
[](fg:color_aqua bg:color_blue)\
$nix_shell\
[](fg:color_blue bg:color_bg1)\
$status\
[](fg:color_bg1 bg:none)\
\
$fill\
\
[](fg:color_bg3 bg:none)\
$cmd_duration\
[](fg:color_blue bg:color_bg3)\
$rust\
$cmake\
$golang\
$nodejs\
$php\
$java\
$kotlin\
$haskell\
$python\
$docker_context\
$conda\
[](fg:color_aqua bg:color_blue)\
$git_branch\
$git_status\
[](fg:color_orange bg:color_aqua)\
$time\
[](color_orange)\
\
$line_break\
\
$character\
"""

# Sets which color palette from palettes to use.
palette = 'gruvbox_dark'

[palettes.gruvbox_dark]
color_fg0 = '#fbf1c7'
color_bg1 = '#3c3836'
color_bg3 = '#665c54'
color_blue = '#458588'
color_aqua = '#689d6a'
color_green = '#98971a'
color_orange = '#d65d0e'
color_purple = '#b16286'
color_red = '#cc241d'
color_yellow = '#d79921'

### Left

[os]
disabled = false
style = "fg:color_fg0 bg:color_yellow"
format = "[$symbol]($style)"

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "

[sudo]
disabled = false
symbol = " ⭘"
style = "bg:color_orange fg:color_fg0"
format = "[$symbol]($style)"

[username]
disabled = false
show_always = true
style_user = "fg:color_fg0 bg:color_orange"
style_root = "fg:color_red bg:color_orange"
format = "[ $user ]($style)"

[directory]
disabled = false
truncation_length = 255
truncate_to_repo = false
truncation_symbol = '…/'
use_os_path_sep = true
home_symbol = '~'

read_only = ' '
read_only_style = "fg:color_fg0 bg:color_aqua"

before_repo_root_style = "fg:color_fg0 bg:color_aqua"
repo_root_style = "bold fg:color_fg0 bg:color_aqua"
style = "fg:color_fg0 bg:color_aqua"

repo_root_format = "[$read_only]($read_only_style)[ $before_root_path]($before_repo_root_style)[$repo_root]($repo_root_style)[$path ]($style)"
format = "[$read_only]($read_only_style)[ $path ]($style)"

[line_break]
disabled = false

[character]
disabled = false
success_symbol = '[λ](bold fg:color_aqua)'
error_symbol = '[λ](bold fg:color_red)'
vimcmd_symbol = '[](bold fg:color_green)'
vimcmd_replace_one_symbol = '[](bold fg:color_purple)'
vimcmd_replace_symbol = '[](bold fg:color_purple)'
vimcmd_visual_symbol = '[](bold fg:color_yellow)'
format = '$symbol '

[fill]
disabled = false
symbol = ' '

### Right

[status]
disabled = false
map_symbol = false
style = "fg:color_red bg:color_bg1"
format = "[ $symbol$status ]($style)"

[cmd_duration]
style = "bg:color_bg3"
format = "([ $duration  ]($style))"

[nix_shell]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol $name ](fg:color_fg0 bg:color_blue)]($style)'

[nodejs]
symbol = ""
style = "fg:color_fg0 bg:color_blue"
format = '[ $symbol ]($style)'

[cmake]
symbol = ""
style = "fg:color_fg0 bg:color_blue"
format = '[ $symbol ]($style)'

[rust]
symbol = ""
style = "fg:color_fg0 bg:color_blue"
format = '[ $symbol ]($style)'

[golang]
symbol = ""
style = "fg:color_fg0 bg:color_blue"
format = '[ $symbol ]($style)'

[php]
symbol = ""
style = "fg:color_fg0 bg:color_blue"
format = '[ $symbol ]($style)'

[java]
symbol = ""
style = "fg:color_fg0 bg:color_blue"
format = '[ $symbol ]($style)'

[kotlin]
symbol = ""
style = "fg:color_fg0 bg:color_blue"
format = '[ $symbol ]($style)'

[haskell]
symbol = ""
style = "fg:color_fg0 bg:color_blue"
format = '[ $symbol ]($style)'

[python]
symbol = ""
style = "fg:color_fg0 bg:color_blue"
format = '[ $symbol ]($style)'

[docker_context]
symbol = ""
style = "fg:color_fg0 bg:color_blue"
format = '[ $symbol ]($style)'

[conda]
style = "bg:color_bg3"
format = '[[ $symbol( $environment) ](fg:#83a598 bg:color_bg3)]($style)'

[git_branch]
symbol = ""
style = "fg:color_fg0 bg:color_aqua"
format = '[ $symbol $branch ]($style)'

[git_status]
style = "fg:color_fg0 bg:color_aqua"
format = '[($all_status$ahead_behind )]($style)'

[time]
disabled = false
use_12hr = false
utc_time_offset = 'local'
time_range = '-'
time_format = "%T|%d"
style = "fg:color_fg0 bg:color_orange"
format = '[ $time  ]($style)'
