OPTIONS='--web.listen-address="localhost:9100" --no-collector.textfile --no-collector.mdadm --no-collector.xfs --no-collector.zfs --no-collector.nfs --no-collector.nfsd --no-collector.bonding --collector.interrupts --collector.ksmd --collector.logind --collector.processes --collector.qdisc --collector.wifi'
